<%- include("partial/header") -%>
 
    <div class="about-section">
      <h1>About Us</h1>
      <p>We are currently studying in 2nd year in UIT-Bardhman </p>
      <p>We all are in cse branch.</p>
    </div>
    <!-------- My team section-------------------------- -->
    <div class="About-container">
    <div class="my_team" id="Team">
      <div class="team-container contrainer">
        <div class="text-center">
          <h2>My Team </h2>
        </div>
          <div class="row">
           
            <div class="col-sm-4" style="margin-bottom: 23px;">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">Touhid Rahaman Mallick</h5>
                  <div class="center">
                    <img class="team_img" src="image/tauhid.jpg" alt="Touhid Image">
                  </div>
                  <p class="card-text">Frontend Developer & Jquery.</p>
                  <div class="center">
                    <a href="https://www.facebook.com/profile.php?id=100007154889106" target="_blank"
                      class="btn btn-primary">See in FB</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="margin-bottom: 23px;">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Amit Giri</h5>
                  <div class="center">
                    <img class="team_img" src="image/amit.jpg" alt="Amit's Image">
                  </div>
                  <p class="card-text">Frontend Web Developer & Node.js</p>
                  <div class="center">
                    <a href="https://www.facebook.com/profile.php?id=100050502964062" target="_blank"
                      class="btn btn-primary">See in FB</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="margin-bottom: 23px;">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Rohon Barman</h5>
                  <div class="center"
                  >
                    <img class="team_img text-center" style="margin-top: 0px;" src="image/rohon.jpg" alt="Rohon's Image">
                  </div>
                  <p class="card-text">Machine Learning</p>
                  <div class="center">
                    <a href="https://www.facebook.com/rohan.barman.112" target="_blank" class="btn btn-primary">See in
                      FB</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="margin-bottom: 23px;">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">Shreya Tewari</h5>
                  <div class="center">
                    <img class="team_img" src="image/shreya.jpeg" alt="Shreya Image">
                  </div>
                  <p class="card-text">Frontend Developer.</p>
                  <div class="center">
                    <a href="https://www.facebook.com/profile.php?id=100069607536006" target="_blank"
                      class="btn btn-primary">See in FB</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="margin-bottom: 23px;">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Riju Mondal</h5>
                  <div class="center">
                    <img class="team_img" src="image/riju.jpg" alt="Riju's Image">
                  </div>
                  <p class="card-text">Skilled Coder,Frontend And Backend with 2 years experience</p>
                  <div class="center">
                    <a href="https://www.facebook.com/profile.php?id=100028861251193" target="_blank"
                      class="btn btn-primary">See in FB</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">Saheli Mukharjee</h5>
                  <div class="center">
                    <img class="team_img" src="image/saheli.jpeg" alt="saheli's image">
                  </div>
                  <p class="card-text">Frontend Developer</p>
                  <div class="center">
                    <a href="https://www.facebook.com/saheli.mukherjee.1422" target="_blank"
                      class="btn btn-primary">See in FB</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
  <%- include("partial/footer") -%>