@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@500&display=swap");

body {
  font-family: Helvetica, sans-serif;
  background-color: white;
}

/*------------------ Navigation bar styling ---------------------------------*/
.main-nav {
  padding-left: 0px;
}
.navbar {
  background-color: #1572a1;
  padding: 0% 0% 0% 0%;
}
a.navbar-brand {
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-size: 3rem;
}
.navbar-brand {
  text-align: center;
}
.navbar-brand img {
  margin: 0.7rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
}
.nav-item a.nav-link {
  /* font-weight: bold; */
  font-size: 1.5rem;
}
.nav-item {
  size: 18px;
  padding: 0 1.5rem;
}
.navbar ul {
  text-decoration: none;
}
.nav_search {
  /* position: absolute;
    right: 0; */
  margin-left: 4rem;
  height: 70%;
  width: 100%;
}



/*----------------------------- Slide styling ---------------------------------*/

/* Styling the area of the slides */
.head-img{
  height: 0px;
  display: none;
  width: 0px;
}
#slideshow {
  overflow: hidden;
  height: 89vh;
  width: 100%;
  background-size: 100% 100%;
  /* margin: 0 auto; */
}

/* Style each of the sides
    with a fixed width and height */
.slide {
  margin-top: 70px;
  float: left;
  height: 90vh;
  width: 1920px;
}

/* Add animation to the slides */
.slide-wrapper {
  /* Calculate the total width on the
    basis of number of slides */
  width: calc(1920px * 4);

  /* Specify the animation with the
    duration and speed */
  animation: slide 13s ease infinite;
}

/* Set the background color
    of each of the slides */
.slide:nth-child(1) {
  background-image: url("../image/laptop-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
}




.slide {
  height: 90vh;
  font-size: 50px;
  background-repeat: no-repeat;
}

.slide:nth-child(2) {
  background-image: url("../image/laptop2.png");
}

.slide:nth-child(3) {
  background-image: url("../image/laptop3.png");
}

.slide:nth-child(4) {
  background-image: url("../image/laptop4.png");
}

/* Define the animation
    for the slideshow */
@keyframes slide {
  /* Calculate the margin-left for
    each of the slides */
  20% {
    margin-left: 0px;
  }

  40% {
    margin-left: calc(-1920px * 1);
  }

  60% {
    margin-left: calc(-1920px * 2);
  }

  80% {
    margin-left: calc(-1920px * 3);
  }
}

/* style for new Items */
.newItems {
  margin: 5% 14%;
  margin-top: 8%;
}
.newItems h1{
 color: #f87652;
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
  background-color: rgb(41, 250, 187);
}
.newItems h3  {
  padding: 0% 4%;
}
.newItems  h2 {
  padding: 0% 4%;
}
.newItems p {
  padding: 0% 5%;
  color: #837d7d;
}
.newItems a:link{
  text-decoration: none;
}
.newItems a:hover{
  text-decoration: none;
  color: #f87652;
}
.newItems p.last {
  margin-bottom: 7rem;
}
@media (max-width:1400px) {

  .newItems {
    margin: 5% 14%;
    margin-top: 12%;
  }
  .newItems h2{
    font-size: 28px;
    font-weight: bold;
   }
  .newItems h3{
    font-size: 28px;
    font-weight: bold;
   }
}
@media (max-width:970px) {

  .newItems {
    margin-top: 20%;
  }
  .newItems h1{
    font-size: 28px;
     padding: 3%;
   }
  .newItems h2{
    font-size: 17px;
    font-weight: bold;
   }
  .newItems h3{
    font-size: 17px;
    font-weight: bold;
   }
}

/* ---------headings of every stream page----------- */
.header {
  margin-top: 120px;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.header h1 {
  font-size: 60px;
  font-weight: 900;
}

/*---------- compose button styling------- */
.button a:link {
  text-decoration: none;
  color: white;
}
.button {
  padding: 10px 24px;
  text-decoration: none;
  font-size: 1.5rem;
  transition-duration: 0.4s;
  border-radius: 8px;
  background-color: green;
  border: 2px solid rgb(4, 100, 4);
}

.button a:hover {
  text-decoration: none;
  color: white;
}
.button:hover {
  color: white;
  background-color: #4123e9; /* Green */
}
.compose {
  position: absolute;
  right: 1px;
  /* margin-bottom: 2rem; */
}

/* home page card style------------------------------- */
/* .card-container{
  background-color: #1abc9c; */
/* margin-top: 20px;
} */
.card-row a:link{
  text-decoration: none;
}
.card-headings {
  font-family: "Roboto Slab", serif;
  margin-top: 7.5rem;
  font-size: 60px;
  font-weight: 600;
}
.card-container {
  padding: 20px 0;
  text-align: center;
  justify-content: center;
}
.card-row {
  /* margin-left: -5%; */
  margin-right: -5%;
}
.container .card {
  border: 0px;
}

.container .card .icon {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  /* height: 270px; */

  background: #2c73df;
}

.container .card .icon .fa {
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 80px;

  color: #fff;
}
.container .card .icon img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 0px;
  margin-top: 70px;
}

.container .card .slide {
  width: 300px;

  height: 200px;

  transition: 0.5s;
}

.container .card .slide.slide1 {
  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: 0.7s;

  transform: translateY(100px);
}

.container .card:hover .slide.slide1 {
  transform: translateY(0px);
}

.container .card .slide.slide2 {
  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: 0.8s;

  transform: translateY(-100px);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.container .card:hover .slide.slide2 {
  transform: translateY(0);
}

.container .card .slide.slide2::after {
  content: "";

  position: absolute;

  width: 30px;

  height: 4px;

  bottom: 15px;

  left: 50%;

  left: 50%;

  transform: translateX(-50%);

  background-color: #f1f1f1;
}

.container .card .slide.slide2 .content p {
  margin: 0;

  padding: 0;

  text-align: center;

  font-size: 1rem;
  color: #414141;
}

.container .card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;

  padding: 0;

  font-size: 34px;

  text-align: center;

  color: #0a0a0a;
}

/* form   section -------------------- */
button.btn.sign.btn-primary {
  margin-right: 55px;
}
#form {
  border-radius: 10px;
  padding: 26px 44px 56px 44px;
  background-image: linear-gradient(to right, #ffafbd, #ffc3a0);
}
.headings_form {
  margin-bottom: 23px;
}
.form-container {
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1abc9c;
}

/*----------------- Footer style------------------------------ */
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #1572a1;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  padding-left: 0px;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
li.first-li{
  padding-left: 0px;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}


/* ---------------Styling for lesser width device than laptop----------------------- */
@media (max-width: 1750px) {
  .card-headings{
    margin-top: 1rem;
  }
  .container .card .slide.slide2 .content h3 {
    margin: 40px 0 0 0;
  }
  .head-img{
    margin-top: 8rem;
   height: 100%;
   width: 100%;
   display: block;
  }
  .head-img img{
    max-width:100% !important;
    height:auto;
    display:block;
  }
  .slide:nth-child(1) {
    background-image: none;
    /* background-repeat: no-repeat; */
    background-size: 0%;
  }
  .slide {
    height: 0vh;
    font-size: 0px;
    /* background-repeat: no-repeat; */
  }
  .slide:nth-child(2) {
    background-image: none;
    /* background-repeat: no-repeat; */
    background-size: 0%;
  }

  .slide:nth-child(3) {
    background-image: none;
    /* background-repeat: no-repeat; */
    background-size: 0%;
  }

  .slide:nth-child(4) {
    background-image: none;
    /* background-repeat: no-repeat; */
    background-size: 0%;
  }
  #slideshow {
    overflow: hidden;
    height: 0vh;
    width: 00%;
    background-size: 00% 00%;
    /* margin: 0 auto; */
  }
  
  /* Style each of the sides
      with a fixed width and height */
  .slide {
    margin-top: 0px;
    float: left;
    height: 0vh;
    width: 0px;
  }
}




/* ---------------Styling for mobile----------------------- */
@media(max-width:480px){
  .head-img{
    margin-top: 4.5rem;
  }
  .card-headings{
    margin-top: 0px;
    font-size: 30px;
    font-weight: 400;
  }
  .navbar-brand img {
    margin: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
  }
  a.navbar-brand {
    font-family: "Pacifico", cursive;
    font-weight: bold;
    font-size: 1.5rem;
  }

  /* form */
  .form-container {
    padding: 80px 30px;
}
.block{
  width: 100%;
  height: 100%;
}
  
}




/*------------ About us Section--------------------- */

.About-container{
  text-align: center;
  margin: 1rem 5rem ;
  padding: 25px 25px;

}
.about-section{
  background-color: #1abc9c;
  margin-top: 8rem;
  padding: 2rem 0;
  text-align: center;
}
.text-center{
  margin: 4rem 0;
  font-weight: 500;
  color: #f87652;
}
/* My_team section _______ */
.my_team .row{
  margin-left: auto;
  margin-right: auto;
    
}
.my_team .card-title{
  color: white;
}

.my_team .row .card{
    background-color: rgb(56, 54, 54);
}
.my_team .card-title{
    text-align: center;
}
.my_team .row .card:hover{
    background-color: #f87652;
}
.my_team .team_head{
    padding-bottom: 16px;
    font-weight: 500;
    color: white;
}
.my_team .row .card .team_img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.my_team .row .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
p.card-text{
    text-align: center;
    color: white;
}
div.card.body img{
    align-items: center;
}
@media (max-width:1000px) and (min-width:772px){
    .my_team .row .card .team_img{
        width: 175px;
        height: 175px;
       
        
    }
}
@media (max-width:772px){
  .About-container{
    margin: 1rem 0rem ;
  
  }
    .my_team .row .card .team_img{
        width: 110px;
        height: 110px;
    }
}

@media (max-width:442px){
  .about-section{
    margin-top: 4rem;
  }
  .About-container{
    margin: 0 0 5rem ;
    padding-top: 0;
  }
}