<!-- Cards -->
<div class="card-container" id="top-section">
    <div class="container ">
        <h1 class="card-headings">Top Sections</h1>
        <div class="row card-row">


            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div class="slide slide1">
                    <div class="content">
                        <div class="icon">
                            <img src="/image/commerce 4.png" alt="Commerce Image" srcset="">
                        </div>
                    </div>
                </div>
                <div class="slide slide2">
                    <div class="content">
                        <h3>
                            Commerce
                        </h3>
                        <p>Trust yourself and keep going.</p>
                        <button class=" button btn btn-lg btn-success"><a href="/commerce" style="color:white;"> See
                                Details</a></button>
                    </div>
                </div>
            </div>

            

            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div class="slide slide1">
                    <div class="content">
                        <div class="icon">
                            <img src="/image/arts1.jpg" alt="Arts Image" srcset="">
                        </div>
                    </div>
                </div>
                <div class="slide slide2">
                    <div class="content">
                        <h3>
                            Arts
                        </h3>
                        <p>Trust yourself and keep going.</p>
                        <button class=" button btn btn-lg btn-success"><a href="/arts" style="color:white;"> See
                                Details</a></button>
                    </div>
                </div>
            </div>

           

            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div class="slide slide1">
                    <div class="content">
                        <div class="icon">
                            <img src="/image/doctor2.jpg" alt="Doctor Image" srcset="">
                        </div>
                    </div>
                </div>
                <div class="slide slide2">
                    <div class="content">
                        <h3>
                            Medical
                        </h3>
                        <p>Trust yourself and keep going.</p>
                        <button class=" button btn btn-lg btn-success"><a href="/medical" style="color:white;"> See
                                Details</a></button>
                    </div>
                </div>
            </div>

            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div class="slide slide1">
                    <div class="content">
                        <div class="icon">
                            <img src="/image/engineer3.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="slide slide2">
                    <div class="content">
                        <h3>
                            Engineer
                        </h3>
                        <p>Trust yourself and keep going.</p>
                        <button class=" button btn btn-lg btn-success"><a href="/engineer" style="color:white;"> See
                                Details</a></button>
                    </div>
                </div>
            </div>

            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div class="slide slide1">
                    <div class="content">
                        <div class="icon">
                            <img src="/image/govt1.jpg" alt="Government Exam Image" srcset="">
                        </div>
                    </div>
                </div>
                <div class="slide slide2">
                    <div class="content">
                        <h3>
                            Govt. Jobs
                        </h3>
                        <p>Trust yourself and keep going.</p>
                        <button class=" button btn btn-lg btn-success"><a href="/science" style="color:white;"> See
                                Details</a></button>
                    </div>
                </div>
            </div>

            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div class="slide slide1">
                    <div class="content">
                        <div class="icon">
                            <img src="/image/general3.jpg" alt="General Image" srcset="">
                        </div>
                    </div>
                </div>
                <div class="slide slide2">
                    <div class="content">
                        <h3>
                            General
                        </h3>
                        <p>Trust yourself and keep going.</p>
                        <button class=" button btn btn-lg btn-success"><a href="/general" style="color:white;"> See
                                Details</a></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>