<!-- Slides -->
<div>
    <!-- Define each of the slides
 and write the content -->
    <div id="slideshow">
        <div class="slide-wrapper">

            <a href="/tree.html">
                <div class="slide slide1">
                    <h1 class="slide-number" </h1>
                </div>
            </a>
            <div class="slide">
                <h1 class="slide-number">

                </h1>
            </div>
            <div class="slide">
                <h1 class="slide-number">

                </h1>
            </div>
            <div class="slide">
                <h1 class="slide-number">

                </h1>
            </div>
        </div>
    </div>
</div>
